@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --themeRed: #d84311;
  --themeGrey: #edecec;
  --themeDarkRed: #980000;
  --themeBlack: #000000;
  --themeWhite: #ffffff;
  --themeYellow: #e0a83d;
}
body {
  background-color: var(--themeGrey);
}
.main-container {
  width: 100vw;
  height: 100vh;
}
.image-container {
  background: url("./login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.heading {
  font-size: 3rem;
}
.input-field {
  outline: none !important;
  border: 0 !important;
  outline: none !important;
}
.input-field:focus {
  outline: none !important;
}
.input-field:active {
  outline: none !important;
}
.input-border {
  border-bottom: 1px solid var(--themeGrey) !important;
}
.input-border:focus {
  border-bottom: 2px solid var(--themeYellow) !important;
}
