@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif !important;
  user-select: none !important;
}
:root {
  --themeRed: #d84311;
  --themeSecondaryRed: #d33906;
  --themeGrey: #edecec;
  --themeDarkRed: #980000;
  --themeBlack: #000000;
  --themeWhite: #ffffff;
  --themeYellow: #e0a83d;
  --themeBlue: #33618f;
  --themeSecondaryBlue: #295a8a;
  --themePurple: #616ae0;
  --themeSeondaryPurple: #535cde;
}

.elevation-1 {
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1) !important;
}
.bg-themeGrey {
  background-color: var(--themeGrey) !important;
}
.bg-themeWhite {
  background-color: var(--themeWhite) !important;
}
.bg-themeRed {
  background-color: var(--themeRed) !important;
}
.text-themeRed {
  color: var(--themeRed) !important;
}
.btn-themeRed {
  background-color: var(--themeRed) !important;
  color: var(--themeWhite) !important;
}
.btn-themeBlue {
  background-color: var(--themeBlue) !important;
  color: var(--themeWhite) !important;
}
.btn-themeBlue:hover {
  background-color: var(--themeSecondaryBlue) !important;
  color: var(--themeWhite) !important;
}
.btn-themeRed:hover {
  background-color: var(--themeSecondaryRed) !important;
  color: var(--themeWhite) !important;
}
.btn-themePurple {
  background-color: var(--themePurple) !important;
  color: var(--themeWhite) !important;
}
.btn-themePurple:hover {
  background-color: var(--themeSeondaryPurple) !important;
  color: var(--themeWhite) !important;
}
.activePage {
  background-color: var(--themeSecondaryRed) !important;
  font-weight: bold !important;
}
.avatar {
  width: 2.5rem;
  height: 2.5rem;
}
.content {
  height: 90vh;
  width: 100%;
  overflow: auto;
}
.contentCard {
  height: 100%;
}
.sidebar {
  height: 100vh;
  overflow: auto;
  width: 0 !important;
  transition: 0.3s ease;
}
.customList::-webkit-scrollbar {
  width: 8px;
}
.customList::-webkit-scrollbar-thumb {
  background-color: var(--themeGrey);
  border-radius: 1rem;
}
.customList::-webkit-scrollbar-thumb:hover {
  background-color: var(--themeSecondaryRed);
}
body::-webkit-scrollbar {
  display: none;
}
.cursor-pointer {
  cursor: pointer !important;
}
