@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
:root {
  --themeRed: #d84311;
  --themeGrey: #edecec;
  --themeLightRed: #ff6756;
  --themeBlack: #000000;
  --themeWhite: #ffffff;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.bg-themeRed {
  background-color: var(--themeRed) !important;
}
.bg-navbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
}
.wave {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: 100vh;
  width: 90vw;
}
.food {
  position: absolute;
  right: 10rem;
  width: 40rem;
  top: 6rem;
}
.customNavbar {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.customNavbar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.brand > span {
  color: var(--themeRed);
}
.link-list {
  display: flex;
  align-items: center;
  margin-left: 2.5rem;
}
.link-list > li {
  padding: 0.5rem 1rem;
}
.active-link {
  font-weight: 600;
  color: var(--themeRed);
}
.icon-container {
  margin-left: 20rem;
  display: flex;
  align-items: center;
}
.icon {
  padding: 0 2rem;
  font-size: large;
  color: white !important;
}
.hero-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5rem;
  transition: 0.3s ease-in-out;
}
.headline {
  border-left: 3px solid var(--themeRed);
  padding: 0 1.5rem;
  user-select: none;
}
.main-headline {
  font-size: 4rem;
  font-weight: 700;
}
.sub-headline {
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: lighter;
}
.button-container {
  padding-top: 1rem;
  padding-left: 1rem;
}
.primary-button {
  background-color: var(--themeRed) !important;
  color: white !important;
}
.secondary-button {
  background-color: var(--themeGrey);
  color: grey;
  margin-left: 1rem;
}
.custom-button {
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 2.5rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.bg-custom {
  background-color: var(--themeWhite) !important;
}
.nav-button {
  color: var(--themeBlack) !important;
}
.custom-button:hover {
  background-color: var(--themeLightRed);
  color: var(--themeWhite);
}

@media screen and (min-device-width: 426px) and (max-device-width: 1000px) {
  .hero-container {
    margin-top: 3rem;
  }
}
@media screen and (min-device-width: 1000px) and (max-device-width: 1200px) {
  .hero-container {
    margin-top: 4rem;
  }
}
@media screen and (max-device-width: 425px) {
  .hero-container {
    left: 2rem;
  }

  .customNavbar {
    position: relative;
  }
  .customNavbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .hero-container {
    position: relative;
    top: 0;
    margin-top: 2rem;
    transform: none;
  }
}
@media screen and (max-device-width: 320px) {
  .hero-container {
    left: 0.5rem;
  }
  .customNavbar {
    padding-left: 0;
    padding-right: 0;
  }

}
